.main h1 {
  margin-bottom: 25px;
  margin-top: 25px;
  line-height: 60px;
  font-size: 45px;
}

.main h2 {
  margin-bottom: 25px;
  margin-top: 25px;
  line-height: 60px;
  font-size: 40px;
  font-weight: 600;
}

.main h3 {
  margin-bottom: 25px;
  margin-top: 25px;
  font-size: 30px;
}

.main p {
  padding-top: 7px;
  font-size: 20px;
  padding-bottom: 7px;
}

.main ul {
  padding-top: 7px;
  font-size: 20px;
  padding-bottom: 7px;
}

.main b {
  font-weight: 700;
}

.main a {
  text-decoration: underline;
}

.main img {
  padding-top: 10px;
  padding-bottom: 10px;
  max-width: 100% !important;
}

.main hr {
  margin-top: 25px;
  margin-bottom: 25px;
}

.main nav {
  text-decoration: none !important;
}

.main iframe {
  margin-top: 25px;
  max-width: 100% !important;
}

.main code {
  font-size: 15px;
  font-family: "Fira Code", monospace;
  background: #f1f1f1;
  border-radius: 4px;
}

.main figure {
  max-width: 100% !important;
}

figure .wp-element-caption {
  font-size: 15px;
}

.main blockquote {
    padding: 40px;
    font-weight: 800;
    font-style: italic;
  }